@charset "utf-8";

body {
    width: 1250px;
    height: auto;
    margin: auto;
    background-color: azure;

}

main {
    width: 1230px;
    padding: 10px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: azure;
    font-size: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

p {
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
}

section {
    width: 1250px;
    height: 100px;
    border: 1px solid brown;
    background-color: brown;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

section ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    text-align: justify;
    top: 10px;
    margin-right: auto;
    margin-left: auto;
}

section li {
    display: inline-block;
    background-color: brown;
    padding: 8px;
    margin: 2px;
    transition: background-color 1s;
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: #ffffff;
}

section li:hover {
    background-color: rgb(152, 29, 29);
}



nav {
    width: 1250px;
    height: 50px;
    border: 1px solid black;
    background-color: brown;
}

nav#navegacao {
    display: block;
}

nav#navegacao ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin-top: 10px;
    left: 450px;
    margin-bottom: 20px;

}

nav#navegacao li {
    display: inline-block;
    background-color: brown;
    padding: 8px;
    margin: 2px;
    transition: background-color 1s;
    font-size: 20px;
}

nav#navegacao li:hover {
    background-color: rgb(152, 29, 29);
}

nav#navegacao a {
    color: black;
    text-decoration: none;
}

nav#navegacao a:hover {
    color: #ffffff;
}


footer {
    width: 1250px;
    height: 100px;
    border: 1px solid green;
    background-color: burlywood;
}

footer p {
    padding: 10px;
    text-align: center;
}