@charset "utf-8";

body {
    width: 1250px;
    height: auto;
    margin: auto;
}
main {
    width: 1250;
    height: auto;
    margin-bottom: 100px;
}

#id_contatos {
    font-size: 20px;
    width: 600px;

}

fieldset {
    width: 1222px;
    height: auto;
}

fieldset p {
    font-size: 20px;
    background-color: rgb(234, 241, 239);
}

body h1 {
    color: brown;
    font-size: 20px;
}


#id_nome,
#id_telefone,
#id_email,
#id_mensagem,
#id_enviar {
    font-size: 10px;
}

label {
    display: block;
}

#id_enviar {
    float: right;
}

section {


    width: 1250px;
    height: 100px;
    border: 1px solid brown;
    background-color: brown;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

section ul s{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    text-align: justify;
    top: 10px;
    margin-right: auto;
    margin-left: auto;

}

section li {
    display: inline-block;
    background-color: brown;
    padding: 8px;
    margin: 2px;
    transition: background-color 1s;
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: #ffffff;
}

section li:hover {
    background-color: rgb(152, 29, 29);
}



nav {
    width: 1250px;
    height: 50px;
    border: 1px solid black;
    background-color: brown;
}

nav#navegacao {
    display: block;
}

nav#navegacao ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin-top: 10px;
    left: 450px;

}

nav#navegacao li {
    display: inline-block;
    background-color: brown;
    padding: 8px;
    margin: 2px;
    transition: background-color 1s;
    font-size: 20px;
}

nav#navegacao li:hover {
    background-color: rgb(152, 29, 29);
}

nav#navegacao a {
    color: black;
    text-decoration: none;
}

nav#navegacao a:hover {
    color: #ffffff;
}




footer {
    width: 1250px;
    height: 100px;
    border: 1px solid green;
    background-color: burlywood;
}

footer p {
    padding: 10px;
    text-align: center;
}
 

