@charset "utf-8";

body {
    width: 1250px;
    height: auto;
    margin: auto;
}
#id_contatos{
font-size: 20px;
width: 600px;
}
fieldset {
width: 1222px;
height:auto;
}

fieldset p {
    font-size: 20px;
    background-color: rgb(234, 241, 239);
}
body h1{
color: brown;
font-size: 20px;
}


#id_nome,
#id_telefone,
#id_email,
#id_bairro,
#id_cidade,
#id_estado,
#id_mensagem,
#id_enviar {
    font-size: 10px;
}

label{
    display: block;
}

#id_enviar{
    float: right;
}