@charset "utf-8";

main {
    width: 700px;
    height: auto;
    padding: 0px 10px;
    text-align: justify;
    background-color: azure;
    padding: 0px 10px 10px 10px;
    margin: 0px 270px 0px 270px;
    box-shadow: 2px 2px 20px black;
}
    
   