@charset "utf-8";

body {
    width: 1250px;
    height: auto;
    margin: auto;
    background-color: azure; 
}

#corpo {
    width: 1230px;
    background-color: azure;
    box-shadow: 2px 2px 20px black;
    padding: 10px 10px 200px 10px;
    margin: auto;
    font-size: 20px;
}

.img_fotos {
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

p {
    text-align: justify;
}

footer {
    width: 1250px;
    height: 100px;
    border: 1px solid green;
    background-color: burlywood;
}

footer p {
    padding: 10px;
    text-align: center;
}