@charset "utf-8";

body {
    width: 1250px;
    height: auto;
    margin: auto;
    background-color: azure; 
}

#corpo {
    width: 1230px;
    background-color: azure;
    box-shadow: 2px 2px 20px black;
    padding: 10px 10px 200px 10px;
    margin: auto;
    font-size: 20px;
}

.img_fotos {
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

p {
    text-align: justify;
}

section {
    width: 1250px;
    height: 100px;
    border: 1px solid brown;
    background-color: brown;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 0px auto 0px auto;
    margin-right: 20px;
}
section ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    top: 10px;

}
section li {
    display: inline-block;
    background-color: brown;
    padding: 8px;
    margin: 2px;
    transition: background-color 1s;
}


section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: #ffffff;
}

section li:hover {
    background-color: rgb(152, 29, 29);

}

footer {
    width: 1250px;
    height: 100px;
    border: 1px solid green;
    background-color: burlywood;
}

footer p {
    padding: 10px;
    text-align: center;
}