@charset "utf-8";

body {
    width: 1250px;
    height: auto;    
    background-color: rgb(31, 214, 214);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    
}

header {
    width: 1250px;
    height: auto;
    background-color: #979797;
}

nav {
    width: 1250px;
    height: 50px;
    background-color: brown;
}

nav#navegacao {
    display: block;
}

nav#navegacao ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    left: 450px;

}

nav#navegacao li {
    display: inline-block;
    background-color: brown;    
    transition: background-color 1s;
}

nav#navegacao li:hover {
    background-color: rgb(152, 29, 29);
}

nav#navegacao a {
    color: black;
    text-decoration: none;
}

nav#navegacao a:hover {
    color: #ffffff;
}

#id_programacao_fotos{
    width: 1250;
    
    
}

ul#programacao_fotos {
    
    width: 1250;
    overflow: hidden;
    list-style: none;
	padding: 0px;
    text-align: center;
        
}

ul#programacao_fotos li {
    float: left;
    width: 600px;
    height: 600px;    
    padding-left: 12px;         
    padding-right: 12px;  
    margin-bottom: 60px;
    
}



section {
    width: 1250px;
    height: 100px;
    background-color: brown;
}

section {
    display: block;
}

section ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    text-align: justify;
    top: -10px;
    left: 400px;
}

section {
    justify-content: center;
    margin: 0px auto 0px auto;
}

section li {
    display: inline-block;
    background-color: brown;
    transition: background-color 1s;
}

section a {

    text-decoration: none;
}

section a:hover {
    color: #ffffff;
}

section li:hover {
    background-color: rgb(152, 29, 29);

}

footer {
    width: 1250px;
    height: 100px;


}

footer p {
    padding: 10px;
    text-align: center;
}