@charset "utf-8";

body {
    width: 1250px;
    height: auto;
    margin: auto;
    background-color: azure;

}

main {
    width: 1230px;
    margin-left: 10px;
    height: auto;    
    background-color: azure;
    font-size: 20px;    

}

p {
    text-align: justify;
    padding: 10px;
}



h1{
    font-weight: 100;
}
h1 span{
    font-weight: bold;
}