@charset "utf-8";

body {
    width: 1250px;
    height: auto;
}

main {
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: justify;
    background-color: azure;
    padding: 10px 10px 10px 10px;
    size: 20px;
    box-shadow: 2px 2px 20px black;
}